.loading{
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: 1.5625rem;
}