$font-color: #F2F2F2;
.chat-channel{
    // background-color: aquamarine;
    
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100vh;
    overflow: hidden;
    position: relative;
    .chat-channel-input{
        background-color: #120F13;
        padding: 10px 30px;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        width: 100%;
        input{
            border: none;
            outline: none;
            width: 100%;
            margin-right: 10px;
            color:#fff;
            background-color:transparent;
        }
        .chat-channel-send-message{
            background-color:rgb(30, 167, 17);
            width:fit-content;
            height:40px;
            width: 40px;
            display: flex;
            justify-content:center;
            align-items: center;
            font-size: 1.25rem;
            color:#fff;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.4s;
            &:hover{
                transition: 0.4s;
                background-color:#fff;
                color:rgb(30, 167, 17);
            }
        }
    }
}
.chat-channel-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #120F13;
        padding: 10px 5px;
        color: #F2F2F2;
        position: absolute;
        top: 0px;
        width: 100%;
    .chat-channel-header-icon{
        // background-color: blue;
        height: 32px;
        width: 32px;
        background: #3f3e42;
        color: $font-color;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }
}
.chats{
    // height: 111px;
       /* display: flex; */
       /* flex-direction: column; */
       /* justify-content: flex-end; */
       /* z-index: -1; */
       /* height: fit-content; */
       scroll-behavior: smooth;
       height: calc(100vh - 111px);
       margin-top: 55px;
       /* padding-bottom: 75px; */
       overflow-y: scroll;
}
.chat-details{
    background-color: #6f6f6f;
    color: white;
    margin: 10px;
    padding: 10px;
    width:min-content;
    max-width: 50vw;
    position: relative;
    min-width: 200px;
    border-radius: 8px;
    .chat-title{
        word-wrap: break-word;
        margin-bottom: 15px;
        // margin-top:15px;
        margin-left: 15px;
    }
    .chat-time {
        position:absolute;
            font-size: 0.6875rem;
            margin-left: 20px;
            opacity: 0.7;
            bottom:5px;
            right: 10px;
    }
    position:relative;
}

.chat-user{
    // position:absolute;
    display: flex;
    top: 0px;
    left: -9px;
    .chat-user-name{
        font-size:0.625rem;
    }
}