:root {
  --background: $background;
  --font-color: $font-color;
}

.Chat-SideBar {
  width: 350px;
  height: 100vh;
  background: #120F13;
  overflow-y: auto;
  position: relative;
}

.Chat-SideBar .join {
  position: fixed;
  bottom: 10px;
  padding: 10px;
  background-color: #0f9b78;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F2F2F2;
  border-radius: 8px;
  cursor: pointer;
}

.Chat-SideBar .join:hover {
  background-color: #0c644e;
}

.Chat-SideBar .channels-information {
  text-align: center;
  color: #F2F2F2;
}

.Chat-SideBar .channels-information .channels-title {
  font-size: 1.5625rem;
  text-transform: uppercase;
}

.Chat-SideBar .channels-information .channels-description {
  text-align: left;
  margin-left: 10px;
}

.Chat-SideBar .channels-information .channels-date-and-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 13px;
  opacity: 0.5;
}

.back {
  color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
  cursor: pointer;
}

.user-info-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F2F2F2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 22px;
  border-radius: 5px;
  cursor: default;
}

.user-info-label .user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 25px;
}

.user-info-label .user-profile-image {
  padding: 10px;
}

.user-info-label .user-profile-image img {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background: #252329;
}

.user-info-label:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #252329;
}

.side-bar-title {
  background: #120F13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 13px;
  height: 59.49px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #F2F2F2;
}

.side-bar-title .title {
  font-size: 20px;
  font-weight: 600;
}

.side-bar-title .add-icon {
  cursor: pointer;
  background: #252329;
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

.search-bar {
  color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 265.42px;
  margin-left: auto;
  margin-right: auto;
  background-color: #215583;
  padding: 0px 20px;
  background: #3C393F;
  border-radius: 8px;
  margin-top: 20px;
}

.search-bar input {
  font-size: 17.06px;
  width: 100%;
  border: none;
  outline: none;
  height: 70%;
  margin: 10px;
  background-color: transparent;
  color: #F2F2F2;
}

.search-bar input::-webkit-input-placeholder {
  color: #f2f2f27c;
}

.search-bar input:-ms-input-placeholder {
  color: #f2f2f27c;
}

.search-bar input::-ms-input-placeholder {
  color: #f2f2f27c;
}

.search-bar input::placeholder {
  color: #f2f2f27c;
}

@media only screen and (max-width: 400px) {
  .side-bar-title {
    padding-left: 45px;
  }
  .Chat-SideBar {
    position: absolute;
  }
}

.modal-content {
  background-color: #120F13;
  color: #F2F2F2;
}

.modal-content .form-floating {
  margin: 20px;
}

.modal-content .title {
  text-transform: uppercase;
  margin: 20px 20px;
  margin-bottom: -10px;
}

.modal-content input,
.modal-content textarea {
  background: #3C393F;
  border-radius: 8px;
  border: none;
  color: #F2F2F2;
}

.modal-content input:focus,
.modal-content textarea:focus {
  background: #3C393F;
  border: none;
  color: #F2F2F2;
}

.modal-content .buts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
}

.modal-content .buts .close {
  background-color: transparent;
  cursor: pointer;
  margin: 0px 20px;
  padding: 10px 0px;
}

.modal-content .buts .save {
  cursor: pointer;
}

.modal-content .buts div {
  padding: 10px 25px;
  background-color: #2F80ED;
  border-radius: 8px;
}

.channels {
  color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 25px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.channels .channels-icon {
  height: 42px;
  width: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #252329;
  border-radius: 5px;
}

.channels:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #252329;
}
/*# sourceMappingURL=Sidebar.css.map */